# Ignorar carpetas y archivos
**/__pycache__/
mycreds.txt*
pruebas.ipynb*

# ignorar base de datos SQLite
*.sqlite
*.json
*.toml
*.db
*.sqlite3
*.sqbpro
*.parquet
mycreds.txt
*.parquet
__pycache__/
*.parquet

# Ignorar scripts de migración con tokens
migrar_a_motherduck.py*
rellenar_tablas.py*
prueba_motherduck.py*
