# Ignorar carpetas y archivos
**/__pycache__/
mycreds.txt*
pruebas.ipynb*

# ignorar base de datos SQLite
*.sqlite
*.json
*.toml
*.db
*.sqlite3
*.sqbpro
*.parquet
mycreds.txt
*.parquet
__pycache__/
*.parquet
